.all {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 5% auto 0;
   
}

.left {
  text-align: left;
  flex: 1;

}
.right{
  flex: 1;
}
 #spe{
  color: rgb(204, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
 }

.end{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(176, 95, 176, 0.377);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 2% auto 0;

}

.left p {
  font-size: 14px; 
  font-family: 'Roboto', sans-serif;
}

.left h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  font-weight: bold; 
}
