button {
    background-color: rgba(57, 151, 213, 0.958);
   
      color: white;
    
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
  }
  button p{
      color:white;
      margin: 0;
  }  
  button:hover {
      background-color: #333433;
  }